
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        Você realmente deseja <b><u>excluir</u></b> esse carro?
    </div>
</div>

<div class="align-items-center">
    <a class="btn btn-danger" href="#" role="button">Não</a>
    <a class="btn btn-success" href="#" role="button">Sim</a>
</div>
