@model TesteDrive 

<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <div>
        Você realmente deseja <b><u>excluir</u></b> o agendamento de @Model.nome?
    </div>
</div>

<div class="align-items-center">
    <a class="btn btn-danger" asp-action="Index">Não</a>
    <a class="btn btn-success" asp-action="Delete" asp-route-id="@Model.id">Sim</a>
</div>
